body {
    font-family: monospace;
    font-size: 14px;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("assets/wallpaper.svg");
    background-size: 300px;
    background-repeat: repeat;
    background-position: top right, 50%, 50%;
}

p, ul {
    margin: 0px;
}

a {
    color: rgb(0, 72, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    text-align: left;
}

th, td {
    padding-right: 30px;
}

img {
    border: 1px black solid;
}

audio {
    width: 100%;
}

.ly {
    width: 450px;
}

.tag-block {
    border: 2px blue dotted;
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px;
}

.quotation {
    font-family:'Courier New', Courier, monospace;
    padding: 10px;
    & > p {
        display: inline-block;
        margin-right: -5px;
    }
}

.hometitle {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin-right: 5px;
}

.splittwo {
    display: grid;
    grid-template-columns: 65% 25%;
    column-gap: 10%;
    & > img {
        width: 100%;
        height: auto;
        float: right;
    }
}