body {
    font-family: monospace;
    font-size: 14px;
    margin-left: 150px;
    margin-right: 150px;
    background-image: url("assets/wallpaper.svg");
    background-size: 300px;
    background-repeat: repeat;
    background-position: top right, 50%, 50%;
}

p {
    margin: 0px;
}

a, a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    text-align: left;
}

th, td {
    padding-right: 50px;
}

img {
    border: 1px black solid;
}

audio {
    border-radius: 80px;
}

.tag-block {
    border: 2px blue dotted;
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px;
}

.quotation p {
    display: inline-block;
    font-style: italic;
    margin-right: -5px;
}

.hometitle {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin-right: 5px;
}

.splittwo {
    display: grid;
    grid-template-columns: 65% 25%;
    column-gap: 10%;
}

.splittwo img{
    width: 100%;
    height: auto;
    float: right;
}