@font-face {
    font-family: pixel;
    src: url("Windows\ Regular.ttf")
}

body {
    background-image: url("wallpaper.bmp");
    font-family: pixel;
    color: #00587e;
}

h1 {
    font-size: 40px;
}

.maincontainer {
    position: absolute;
    top: 0;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    background-color: #008cc8;
    width: 70%;
    display: grid;
    grid-template-rows: 245px auto 30px;
    & > div{
        border: 1px #00587e solid;
    }
    & > .titlecontainer{
        display: grid;
        grid-template-rows: auto 45px;
        & > .titletext{
            padding: 0px 40px;
            & > h1{
                font-size: 60px;
                padding: 20px;
                background-color: white;
            } 
        }
        & .menu {
            background-color: black;
            border: 1px #787878 solid;
            & > span{
                color: white;
                position: relative;
                top: 25%;
                margin-right: 10px;
                margin-left: 20px;
                & > a{
                    color: white;
                    text-decoration: none;
                }
                & > a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    & > .articlescontainer{
        display: grid;
        grid-template-rows: auto;
        gap: 15px;
        padding: 15px;
        & > div{
            background-color: white;
            padding: 0px 15px;
        }
        & > .article{
            & > h1{
                line-height: 35px;
            }
        }
    }
    & > .footercontainer{
        & > button{
            background: none;
            border: 1px #00587e solid;
            color: #00587e;
        }
    }
}